#!/usr/bin/env bash

# fancy ls
ls_type="ls"
command -V gls &>/dev/null && ls_type="gls"
alias ls="$ls_type --group-directories-first -1F --color"
unset ls_type

# remove LaTeX helpfiles
alias rmtex="rm *.aux *.bbl *.blg *.log *.out"

# i always forget what the printer command is...
alias printer="lpr"

# always color grep
alias grep="grep --color"

# always confirm overwriting a file
alias cp="cp -i"
alias mv="mv -i"
alias rm="rm -v"

# reload bash profile and stuff
alias reload="source $HOME/.bash_profile"

# -X makes vim faster (i think)
alias vi="vim -X"

# easier way to cd back one level
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."

if [[ "$OSTYPE" =~ ^darwin ]]; then
    # hub for git
    alias git=hub

    # shorten things up
    alias cask="brew cask"

    # open apps
    alias prefs="open -a System\ Preferences"

    # silence ~/bin/airpods
    alias airpods="airpods &>/dev/null"

    # fix charging iPhone on MacBook (https://apple.stackexchange.com/a/334006)
    alias chargephone="sudo killall -STOP -c usbd"
fi

# shorten the very, very long install command known as apt-get
type -P apt-get &>/dev/null && alias get="sudo apt-get install"

# dot is my dotfiles repository
alias dot="git --git-dir=$HOME/.dot/ --work-tree=$HOME"

# docker for NAO
alias dnt="docker run --privileged -it -v`pwd -P`:/home/dnt/repo --name dnt --rm lukx19/dnt /bin/bash"
