#!/usr/bin/env bash

# fancy ls
if ls --color > /dev/null 2>&1; then # GNU `ls`
	colorflag="--color"
else # macOS `ls`
	colorflag="-G"
fi
alias lst="ls -Fhl1 ${colorflag}"

# i always forget what the printer command is...
alias printer="lpr"

# always color grep
alias grep="grep --color"

# reload bash profile and stuff
alias reload="source ~/.bash_profile"

# shorten the most used things
alias l="less"
alias n="nano"
alias g="git"
alias a="atom"
alias v="vim"

# easier way to cd back one level
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."

# shorter version for brew cask
alias cask="brew cask"

if [[ "$OSTYPE" =~ ^darwin ]]; then
	# hub for git
	alias git=hub
	alias ql="qlmanage -p 2>/dev/null"
fi

alias dot="git --git-dir=${HOME}/.dot/ --work-tree=${HOME}"
