#!/usr/bin/env bash

# fancy ls
if ls --color > /dev/null 2>&1; then # GNU `ls`
	colorflag="--color"
else # macOS `ls`
	colorflag="-G"
fi
alias lst="ls -Fhl1 ${colorflag}"

# i always forget what the printer command is...
alias printer="lpr"

# always color grep
alias grep="grep --color"

# always confirm overwriting a file
alias cp="cp -i"
alias mv="mv -i"

# reload bash profile and stuff
alias reload="source ${HOME}/.bash_profile"

# shorten the most used things
alias l="less"
alias n="nano"
alias g="git"
alias a="atom"
alias v="vim"

# easier way to cd back one level
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."


if [[ "$OSTYPE" =~ ^darwin ]]; then
	# hub for git
	alias git=hub

	# enables finders quicklook from the terminal
	alias ql="qlmanage -p > /dev/null 2>&1"
	
	# shorten things up 
	alias cask="brew cask"
	alias o="open"
fi

# dot is my dotfiles repository
alias dot="git --git-dir=${HOME}/.dot/ --work-tree=${HOME}"

type -P swipl > /dev/null 2>&1 && alias swipl="swipl -f ${HOME}/.plrc"
