#!/usr/bin/env bash

# nano as default editor
export EDITOR='nano';

# add GNU core utils from brew to path
export PATH="/Library/TeX/texbin:$PATH"
export PATH="/bin:$PATH"
export PATH="/sbin:$PATH"
export PATH="/usr/bin:$PATH"
export PATH="/usr/sbin:$PATH"
export PATH="$HOME/.nvm/versions/node/v8.11.1/bin:$PATH"
export PATH="$HOME/.cargo/bin:$PATH"
#export PATH="/usr/local/opt/coreutils/libexec/gnubin:$PATH"
export PATH="/usr/local/bin:$PATH"
export PATH="/usr/local/sbin:$PATH"
export PATH="$HOME/bin:$PATH"

# set path to node_modules
export NODE_PATH='/usr/local/lib/node_modules'

# export terminal
export TERM="xterm-256color"

# increase bash history size
export HISTSIZE='32768';
