#!/usr/bin/env bash

# Show extra file information when completing, like `ls -F` does
set visible-stats on

# Use the text that has already been typed as the prefix for searching through
# commands (i.e. more intelligent Up/Down behavior)
"\e[B": history-search-forward
"\e[A": history-search-backward

# Perform file completion in a case insensitive fashion
bind "set completion-ignore-case on"

# show ambiguous files after just 1 tab press
bind "set show-all-if-ambiguous on"

# Autocorrect typos in path names when using `cd`
shopt -s cdspell

# cd without typing cd
shopt -s autocd

# Enable history expansion with space
bind Space:magic-space
