# syntax highlighting
include ~/.nano/*.nanorc

# linenumbers
set linenumbers

# auto indention
set autoindent

# bold in stead of reverse
set boldtext

# don't use more space
unset morespace

# use mouse
set mouse

# no help at the bottom of the page
#set nohelp

# smooth scrolling
set smooth

set tabsize "4"

# used tabs will be converted to spaces
#set tabstospaces

# no tempory file, just save file
unset tempfile

# don't wrap text to the next line
set nowrap

# higlights matching brackets
set brackets ""')>]}"
set matchbrackets "(<[{)>]}"

# avaible using multiple buffers
set multibuffer

# remember the search/replace
set historylog

# everything that's allowed to colorize in nano
# include selected text, errors, description and key shortcut in helpmenu
# linenumbers, status of document (modified) and the title of the document
set selectedcolor normal,blue
set errorcolor normal,red
set functioncolor normal
set keycolor normal
set numbercolor normal
set statuscolor brightnormal
set titlecolor brightnormal

# more natural way to copy
bind M-C copytext all

# easy way to list all files in working directory
bind ^L "" all

# ... and the more logical way to exit that
bind ^X "" browser

# how to scroll past end in nano...
bind M-1 "=====================" main
bind M-2 "---------------------" main

# more natural way to undo
bind ^Z undo main
