#!/usr/bin/env bash

# let me know if i'm getting an error.
# Usage: $ (...some code...) kut
alias kut='say kut, een fout;'

# let me know when it's done (polite).
# Usage: $ ...some code... && lemmeknow
alias lemmeknow='terminal-notifier -title "Terminal" -message "Done with task!"'

alias qparty="export FLASK_APP=QParty.py; flask run --reload"

# fancy ls
alias lst="ls -GFhl1"
