#!/usr/bin/env bash

### NOTE TO SELF: ONLY EDIT FROM ~/ ###

# fancy ls
alias lst="ls -FGhl1"

# i always forget what the printer command is...
alias printer="lpr"

# always color grep
alias grep="grep --color"

# reload bash profile and stuff
alias reload="source ~/.bash_profile"

# shorten less
alias l="less"

# use nano v2.9.5
alias nano="/usr/local/Cellar/nano/2.9.7/bin/nano -t"

# easier way to cd back one level
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."

# shorter version for brew cask
alias cask="brew cask"

# hub for git
alias git=hub

# I like to study using pomodoro technique
# this is a countdown timer with notification
# to time 25 minutes
alias pomodoro="termdown 25m && notify --title=Timer klaar!"
