#!/usr/bin/env bash

### NOTE TO SELF: ONLY EDIT FROM ~/ ###

# 'cd ~/Repos/example' -> 'cdr example'
# cd + Repos = cdr
cdr() { cd ${HOME}/Repos/$@ ;}

# View the local git repository on Github
# Uses alias 'git url', as seen in git/.gitconfig
# 'open' opens an url in the browser on macOS. Not tested on linux
viewgh() { 
    remote=$(git ls-remote --get-url origin)
    if [[ ${remote:0:4} == "http" ]]; then
        open ${remote} 
    else
        url=$(git ls-remote --get-url origin | cut -f 2 -d : | cut -f 1 -d ".");
        open https://github.com/${url};
    fi
}

# gi macos gives the gitignore for macos.
# Use gi macos >> .gitignore to make file
gi() { curl -L -s https://www.gitignore.io/api/$@ ;}

# echo your computers ip-address
ip() { ifconfig | grep "inet " | grep -Fv 127.0.0.1 | awk '{print $2}' ;}

# usage: clone_all_from users/username or clone_all_from orgs/orgname
clone_all_from() {
  PAGE=1;
  curl "https://api.github.com/$@/repos?page=$PAGE&per_page=100" |
  grep -e 'git_url*' |
  cut -d \" -f 4 |
  xargs -L1 -P5 git clone;
}

# make a directory and cd into it
mkcd() { mkdir "$1"; cd "$1" ;}


# open a manual as pdf
manpdf() { man -t "$1" | open -f -a /Applications/Preview.app/; }

# quick way to run a python file
p() { python $1.py $2 $3 $4; }

# Generates a MIT license for the person in the argument
mit() {
  printf "\n
Copyright (c) 2018 $@
Permission is hereby granted, free of charge, to any person obtaining
a copy of this software and associated documentation files (the
\"Software\"), to deal in the Software without restriction, including
without limitation the rights to use, copy, modify, merge, publish,
distribute, sublicense, and/or sell copies of the Software, and to
permit persons to whom the Software is furnished to do so, subject to
the following conditions:
The above copyright notice and this permission notice shall be
included in all copies or substantial portions of the Software.
THE SOFTWARE IS PROVIDED \"AS IS\", WITHOUT WARRANTY OF ANY KIND,
EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.";}
